<!DOCTYPE html>
<head>
  <title>
    Vue Guide Examples
  </title>
  <link rel="icon" type="image/png" href="../../favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../../favicons/favicon-16x16.png" sizes="16x16">
  <link rel="stylesheet" href="../../vuejs.org.css">
</head>
<body>
  <div class="content">

    <h1>Getting Started</h1>
    <h2>All Together Now</h2>

    <div id="app" class="demo">
      <input v-model="newTodo" v-on:keyup.enter="addTodo">
      <ul>
        <li v-for="(todo, index) in todos">
          <span>{{ todo.text }}</span>
          <button v-on:click="removeTodo(index)">X</button>
        </li>
      </ul>
    </div>

  </div>
  <script src="../../vue.js"></script>
  <script src="./main.js"></script>
</body>
